/* MainVisual */
#mainVisual {
  position: relative;
  width: 100%;
  min-height: 790px;
  height: 80vh;
  overflow: hidden;
}

.title-box {
  display: flex;
  flex-direction: column;
  padding: 250px 200px;
}
.main-title {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.main-title,
.free-btn {
  color: #fff;
}
.top-title,
.mid-title,
.btm-title {
  display: inline-block;
}

.top-title {
  font-size: 84px;
  font-weight: 700;
  line-height: 100%;
}
.mid-title {
  font-size: 30px;
  font-weight: 600;
}
.btm-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  margin-left: 2px;
}
.free-btn {
  width: fit-content;
  border-radius: 50px;
  border: 1px solid #fff;
  background: var(--color-white-wh-10, rgba(255, 255, 255, 0.1));
  backdrop-filter: blur(5px);
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 5px;
  cursor: pointer;
}

.background {
  width: 100%;
  height: 100%;
}

.main-video {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

.background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

/* SectionLayout */
.section-container {
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
}
.category-label {
  color: #ff6b00;
  font-weight: bold;
  font-size: clamp(12px, 1.3vw, 14px);
  padding-left: 3px;
}
.section-title {
  font-size: clamp(24px, 3.5vw, 40px);
  margin-top: 10px;
  margin-bottom: 8px;
  font-weight: 700;
}
.section-info {
  font-size: 19px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
  padding-left: 3px;
}
.section-desc {
  color: #666;
  font-size: clamp(13px, 1.5vw, 16px);
  line-height: 1.5;
  white-space: pre-wrap;
  margin: 0;
}
.view-more-btn {
  background: none;
  border: none;
  color: #505050;
  cursor: pointer;
  font-size: 13px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
.view-more-btn .arrow {
  padding-top: 2px;
  font-size: 18px;
}
.divider-line {
  border-top: 1px dashed rgba(0, 0, 0, 0);
  margin-top: 50px;
}

/* WorkoutSwiper */
.workout-card {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}
.workout-img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}
.workout-overlay {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
}
.workout-category {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.timer-box {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: rgba(255, 255, 255, 0.9);
  padding: 12px;
  border-radius: 15px;
  width: 120px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.timer-label {
  font-size: 10px;
  color: #aaa;
  margin: 0;
}
.timer-value {
  font-size: 30px;
  font-weight: bold;
  color: #333;
  margin: 0;
  text-align: center;
  margin-top: 5px;
}

hr {
  background: rgba(95, 95, 95, 0.2);
  height: 1px;
  border: 0;
}

.cal {
  color: #333;
}
.cal-1 {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 3px;
}

.cal-2 {
  font-size: 13px;
}

.bars {
  margin-top: 10px;
  margin-bottom: 5px;
}

.timer-progress-bar {
  width: 100%;
  height: 6px;
  background: rgba(95, 95, 95, 0.2);
  border-radius: 100px;
  overflow: hidden; /* 내부 바가 튀어나가지 않게 */
  margin-top: 5px;
}

.progress-fill {
  height: 100%;
  background: linear-gradient(90deg, #ff8a00, #ff4d00); /* 그라데이션 적용 */
  border-radius: 100px;
  transition: width 0.4s ease; /* 너비가 변할 때 부드럽게 */
}
.bpm {
  display: flex;
  justify-content: space-between;
  letter-spacing: -0.3px;
  font-size: 10px;
}

/* DietSwiper */
.diet-card-list {
  display: flex;
  flex: 1;
  gap: 30px;
}
.diet-card {
  position: relative;
  border-radius: 15px;
  width: 100%;
  max-width: 490px;
  aspect-ratio: 490 / 600;
  overflow: hidden;
}
.diet-img {
  width: 100%;
  object-fit: cover;
}
.diet-text-area {
  position: absolute;
  bottom: 0;
  height: auto;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 40px;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
  color: white;
}
.diet-name {
  font-weight: bold;
  font-size: clamp(16px, 2vw, 22px);
  font-weight: 700;
  margin: 0;
}
.diet-desc {
  font-size: clamp(12px, 1.2vw, 16px);
  margin-top: 4px;
  white-space: pre-wrap;
  line-height: 1.5;
  margin-top: 10px;
}

/* StoreSwiper */
.store-card-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.store-card {
  position: relative;
  width: 100%;
  max-width: 700px;
  aspect-ratio: 700 / 350;
  border-radius: 20px;
  overflow: hidden;
}
.store-info {
  position: absolute;
  top: 15%;
  left: 8%;
  right: 8%;
}
.store-title {
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 20px;
}
.store-desc {
  font-size: 14px;
  color: #0c0c0c;
  margin-bottom: 14px;
  line-height: 1.6;
  white-space: pre-wrap;
}
.store-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.store-btn {
  position: absolute;
  align-self: flex-start;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: none;
  padding: 0.6em 1em;
  border: 1px solid #fff;
  border-radius: 20px;
  color: #fff;
  font-size: clamp(12px, 1.5vw, 14px);
  font-weight: 500;
  cursor: pointer;
  bottom: 15%;
  left: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.store-btn .arrow {
  font-size: 18px;
}

/* InfoSection */
.info-card-list {
  display: flex;
  gap: 20px;
}

.info-card {
  background-color: #fff;
  border: 1px solid #f0f0f0;
  border-radius: 20px;
  padding: clamp(20px, 3.5vw, 40px);
  height: 320px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  width: 100%;
  max-height: 320px;
  height: auto;
}

.info-title {
  white-space: pre-wrap;
  font-size: clamp(22px, 2.5vw, 32px);
  font-weight: 800;
  color: #333;
  line-height: 1.3;
  margin-bottom: clamp(12px, 2vw, 20px);
}

.info-card:nth-child(1) .info-title::first-line,
.info-card:nth-child(2) .info-title::first-line,
.info-card:nth-child(4) .info-title::first-line {
  color: #ff6b00;
}
.info-card:nth-child(3) .info-title {
  color: #ff6b00;
}

.info-card:nth-child(3) .info-title::first-line {
  color: #333;
}

.info-desc {
  white-space: pre-wrap;
  font-size: clamp(13px, 1.2vw, 15px);
  color: #666;
  line-height: 1.6;
  margin-bottom: 10px;
}

.info-icon-wrapper {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
}

.info-icon-wrapper img,
.info-icon {
  width: clamp(45px, 5vw, 60px);
  height: clamp(45px, 5vw, 60px);
  object-fit: contain;
}
.sub-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 85px;
}

.sub-btn button {
  display: flex;
  width: 400px;
  height: 70px;
  padding: 5px 15px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: none;
  border-radius: 20px;
  background: #ed4900;
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

/* faqList */
.faq-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  border-top: 1px solid #ddd;
  margin-top: 40px;
}

.faq-item {
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
}

.faq-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 10px 0;
}

.faq-question {
  font-size: 18px;
  font-weight: 700;
  color: #333;
  margin: 0;
}

.faq-toggle-icon {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.faq-body {
  padding: 15px 0;
}

.faq-answer {
  font-size: 15px;
  color: #666;
  line-height: 1.6;
  margin: 0;
  white-space: pre-wrap; /* \n 인식 */
}

/* Tablet */
@media (max-width: 892px) {
  #mainVisual {
    min-height: 500px;
  }

  .section-container {
    padding: 30px 20px; /* 여백 살짝 축소 */
  }
  .section-info {
    font-size: 17px; /* 부모 컨테이너 폰트 보정 */
  }

  .diet-name {
    font-size: 16px;
  }
  .diet-desc {
    font-size: 14px;
  }
  .diet-text-area {
    height: auto;
  }

  .diet-card {
    max-width: 370px;
    aspect-ratio: 490 / 600;
    overflow: hidden;
  }

  .store-card-list {
    place-items: center;
  }

  .store-card {
    max-width: 500px;
    aspect-ratio: 700 / 350;
  }

  .store-title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .store-desc {
    font-size: 13px;
    white-space: pre-wrap;
  }
  .info-card-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }

  .info-card {
    padding: 30px 25px;
    height: auto;
    min-height: 220px;
    width: 80%;
  }
  .sub-btn button {
    width: 320px;
    height: 60px;
    font-size: 22px;
    gap: 15px;
    border-radius: 15px;
  }
}

/* Mobile */
@media (max-width: 767px) {
  #mainVisual {
    min-height: 300px;
  }
  .section-container {
    padding: 20px 15px;
  }
  .title-box {
    display: flex;
    flex-direction: column;
    padding: 250px 100px;
  }

  .section-info {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .view-more-btn {
    font-size: 12px;
    align-self: flex-end;
  }
  .diet-card-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }
  .diet-card {
    max-width: 370px;
    aspect-ratio: 490 / 600;
    overflow: hidden;
  }
  .diet-name {
    font-size: 18px;
  }
  .diet-desc {
    font-size: 14px;
  }
  .store-card-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .info-card-list {
    gap: 15px;
  }

  .info-card-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .info-title {
    line-height: 1.2;
  }
  .sub-btn button {
    max-width: 280px;
    height: 50px;
    font-size: 18px;
    gap: 10px;
    border-radius: 12px;
    padding: 5px 10px;
  }
}
